
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
